<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <!--[if IE]>
    <link rel="stylesheet" href="static/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]--> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script type="text/javascript" src="/js/date.js"></script>
  
  {% autoescape on %}
  <script type="text/javascript">
  var twitterUsername = 'jaceyphotos';

  $(document).ready(function() {
    $.ajax({
      dataType: 'jsonp',
      url: "http://twitter.com/statuses/user_timeline/" + twitterUsername + ".json?callback=twitterCallback"
    });
  });

  function twitterCallback(data) {
    var found = false;
    $.each(data, function(){
      if (this["text"].indexOf('@') != 0 && !found) {
        var date = new Date(this["created_at"]);
        date = date.toString('MMM d, yyyy');
        //var cur_text = $('#twitter').text;
        //var markup = $('#twitter').innerHTML;
        //$('#twitter').text("..." + this["text"]);
        var oldHTML = document.getElementById('twitter').innerHTML;
	    var newHTML = this["text"] + "<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class=\"link\" href=\"http://www.twitter.com/jaceyphotos\">...twitter.com/jaceyphotos @ " + date + "</a>";
	    document.getElementById('twitter').innerHTML = newHTML;
        found = true;
      }
    });
  }
  </script>
  {% endautoescape %}

  {% block inline_javascript %}{% endblock %}


  <title>{% block title %}Jacey Photographs{% endblock %}</title>
</head>

<body>

  <div class="container">
    
    <!--<div class="span-12"><h1><a href="/">Jacey Photographs</a></h1></div>
    <div class="span-12 last" style="text-align:right"><h2 class="alt">Simply.Real.Life.</h2></div>-->
    
    <hr/>
        
    <div class="span-24 last" style="text-align:center">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    
    <div class="span-24">
	
	  <div class="span-12">&nbsp;</div>
	  <div class="span-12  last" style="text-align:left"><blockquote><div id="twitter"></div></blockquote></div>
    </div>
    
    
    <div class="span-24">
	
	  <div class="span-7 colborder" style="text-align:center"><a class="link" href="/about/">About Me</a></div>
	  <div class="span-8 colborder" style="text-align:center"><a class="link" href="/contact/">&nbsp</a></div>
	  <div class="span-7 last" style="text-align:center"><a class="link" href="/book/">Contact Me</a></div>
    </div>
	 
	<hr/>
	  
	<!--<div class="span-24" style="text-align:center">
      <a href="/"><img src="/images/logo.png"></a>
    </div>-->
    
    <!--<div class="span-24 colborder"><img src="/images/header_2.png" width="950px"></div>-->
    
    <div class="span-24" colborder>
	
	  <!--<div class="span-7 colborder" style="text-align:center">&nbsp;</div>
	  <div class="span-8 colborder" style="text-align:center">&nbsp;</div>
	  <div class="span-7 last" style="text-align:center">&nbsp;</div>-->
	  
	  <hr/>
    </div>
 
    
    <div class="span-24 colborder">
    
      

        {% block content %}{% endblock %}
        {% block post %}{% endblock %}
        {% block about %}{% endblock %}

      
    </div>
    <br />
    <hr />
    <div class="span-8">Photos (c) Jacey Photographs 2008</div>
    <div class="span-8" style="text-align:center;">rss | atom</div>
    <div class="span-8 last" style="text-align:right;">jacey @ jaceyphotographs.com</div>
    <div class="span-12">A Website by Dylan</div>
    <div class="span-12 last" style="text-align:right;"><a class="link" href="/post">Post</a></div>
    <div class="span-12 style="text-align:left;"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
alt="Powered by Google App Engine" /></div>
    <div class="span-12 last" style="text-align:right;"><a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15_grey.gif" border="0" alt="A Django site." title="A Django site." /></a></div>
    </div>
    
  </div>

    
</body>
</html>
