{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block about %}

   <div class="span-11 colborder" style="text-align:left">
     <img src="/images/simply.real.session-info.jpg"><br>
     <p>
     I have such a deep respect for the uniqueness of each family. I love to capture spontaneous, irreverent, joyful, intangible moments that accentuate what makes YOUR family special.
     <br>
     <br>   
     All sessions are done on location  either outdoors or in and around your home. Children and families are most relaxed in environments that feel friendly!
     <br>
     <br>
     Your session will be a real mix of documenting your relationships,  the fun, tenderness, teasing , laughing, contemplating, all the emotions that are part of the time and place. 
     <br>
     <br>
     Sometimes I will ask you to get together for a lightly posed shot,. Always it is about your connection to each other and not about me asking you to look into the camera. 
     </p>
     <img src="/images/simply.real.session-pricing.jpg"><br>
     <p>
     I am happy to be a portrait and family photographer who offers your custom retouched digital files as part of your package choice. This allows you the freedom to reprint and share the images that you fall in love with!
     <br>
     <br>
     Here is some information to help you choose:
     <br>
     <br>
     Your fee for a session with me is $300.00 and is due at the time of your session.
     <br>
     <br>
     A $250.00 deposit is required to reserve your session, and then, you will use that deposit as a credit towards your print package. 
     </p>
     <hr>
     <img src="/images/connect-with-me.jpg">
     <p>
     Jacey Photographs <br>
     (415) 889 0995 <br>
     jacey@jaceyphotographs.com <br>
     San Francisco, CA
     </p>
   </div>

   <div class="span-12 last" style="text-align:right">
     <img src="/images/simply.real.session-include.jpg"><br>
     <p>
     A one to two plus hour shoot, either at your home or a favorite location we choose together.
     <br>
     <br>
     Travel up to 40 miles round trip.
     <br>
     <br>
     20-30 images shown in an easy-to-share online slide show set to music, that will be released to you about two weeks after your session.
     </p>
     <p>
     <b>Here are three different choices for your for your image selection:</b>
     </p>
     <img src="/images/easy-peasy.jpg"><br>
     <p>$450.00
     <br>
     <br>
     Five custom processed images from your session on a DVD
     <br>
     <br>
     One custom 11 x 14 enlargement mounted and ready to hang
     </p>
     <hr>
     <img src="/images/happy-go-lucky.jpg"><br>
     <p>$700.00
     <br>
     <br>
     All of your custom processed read-to-print images on a DVD.
     <br>
     <br>
     One custom 10 x 20 enlargement mounted and ready to hang
     <br>
     <br>
     Your DVD slideshow gift packaged.
     </p>
     <hr>
     <img src="/images/ageless-timeless.jpg"><br>
     <p>$1025.00
     <br>
     <br>
     All of your custom processed read-to-print images on a DVD.
     <br>
     <br>
     One 16 x 24 enlargement mounted and ready to hang
     <br>
     <br>
     Your DVD slideshow gift packaged.
     <br>
     <br>
     A coffee table album with all of your images from your slideshow.
     </p>
   </div>

{% endblock %}