{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block about %}
      
  <div class="span-24 text-align:center">
    <p>
    I am in awe of families, I'm taken with everything about them, their love and silliness, their tempers and quirks.  I love the "in" jokes, and nicknames and embarrassing stories that become part of their history and are passed down through generations.
    </p>
    I love how there are so many many ways to be a family.  I think it is just amazing how families shift shape and color and size. I love how they open up their hearts to make room for new life or close ranks when a sense of injustice or hurt affects one of their own. Families... such a wonderful and sometimes unexpected blend of individuals and relationships that work, sometimes against all odds, so beautifully together.  We fight and and cry and laugh and gossip and forgive pretty much everything about each other. Families help us to determine where and how we live in the world, they teach us either through encouragement or contrast to dream big, to find our own values. Usually we have to break free for awhile and then come back into the fold, often it takes longer then expected and it's not always comfortable and yet I know that we always hold some piece of our family in our hearts wherever we are in our life choices.
    <p>
    I really love and appreciate how a photograph can capture so much about your family in just a look or a gesture or a connection, and, I love being the one you choose to document your <b>simply. real. life.</b>
    </p>
    <p>
   I am so looking forward to spending time with you and your family, can't wait....Jacey
    </p>
 </div>
 <div class="span-24">
   <img align="right" class="blog_photo_image" src="/images/zenlandscape.jpg" width="950">
 </div>
{% endblock %}