{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block blog_admin_javascript %}

<!-- JS for JQuery Blog Entry Delete -->
 <!--<script type="text/javascript">
 
 $(document).ready(function() 
 {
   var options = {dataType:'json', beforeSubmit:beforeForm, success:processJson};
   $('#blog_entry_delete_form').ajaxForm(options);
 });

  function beforeForm() 
  { 
    return true; 
  }
  
  function processJson() 
  { 
    return true;
  }
  
  </script>-->
<!--End Blog Comments Javascript -->
  
{% endblock %}

{% block content %}

{% if entries %}
  
  <div class="span-24">
    <a href="/admin/post/new/">Create new post</a>
  </div>
  <hr/>
  <div class="span-24">
    <!-- entry title, tags -->
    {% for entry in entries.object_list %}
      <div class="span-20 colborder"><a class="entry_title" href="/admin/post/edit/{{entry.key}}">{{entry.title}}</a> | {{ entry.published|date:"D d M Y | H:i:s"|lower }}</div>
      <div class="span-3 last" id="blog_entry_div_{{entry.key}}" style="text-align:right">
        <form id="blog_entry_delete_form" method="post" action="{% url jaceyphotographs.views.blog_entry_delete %}">
          <input type="hidden" id="key" name="key" value="{{ entry.key }}"/>
          <button id="blog_entry_delete_button" type="submit" class="button"><img src="/css/blueprint/plugins/buttons/icons/knobs/knob_cancel.png">Delete</button>
        </form>
      </div>
    {% endfor %}
  </div>
 
{% endif %}
{% endblock %}